.sidebar{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:whitesmoke;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 80.5;
}
.h{
    background-color: whitesmoke;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: black;
    text-align: center;

}

.text{
    margin-top: 150px;
    margin-left: 180px;
}

@media only screen and (max-width: 800px)   {
    .sidebar{
        display: none;
    }
}